
.todo-list{
  text-align: center;
    text-decoration: underline;
    width: 823px;
}
.list{
  width: 349px;
  margin: 12px 100px;
  justify-content: center;
  font-size: 25px;
  font-weight: 700;
  color: brown;
}
table{
  border: 1px solid #c9edbc;
  text-align: center;
}
td{
  width: 200px;
  text-align: center;
  border: 1px solid #c9edbc;


}
tr{
  border: 1px solid #c9edbc;
  text-align: center;
}
th{
  border: 1px solid #c9edbc;
  width: 200px;
  text-align: center;
  background-color: #8bbce6;
  padding: 9px;
}
.add-task{
  height: 223px;
  width: 391px;
  margin: 0px 86px;
}
.add-button{
  text-align: center;
  margin: 69px;
}
.text-box{
  width: 255px;
  height: 34px;
}

